:root {
    --width: 60rem;
    --spacing: 3em;
    --bg: #f0f0f0;
    --white: #fdfdfd;
    --sans: "DejaVu Sans", "Lucida Grande", "Segoe UI", "Lucida Sans Unicode", sans-serif;
    --serif: serif;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 1.6rem/1.4 var(--sans);
    color: #111;
    background: var(--bg);
    margin: 0;
    -webkit-text-size-adjust: none;
}

h1, h2, h3 {
    font-family: var(--serif);
}

a {
    color: #3949ab;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-decoration-color: #ccc;
}

/** Classes */

.stretch, .stretch * { width: 100%; }

/** Layout */

#page {
    display: flex;
}

/** Elements */

/*** Header */

#header {
    font-size: 1.3em;
    background-image: url(../media/quarter.jpg);
    background-size: cover;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#header > div {
    color: var(--white);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 1.5em;
}
#header > div > * { display: inline; }

#description { white-space: pre; }

/*** Post */

.post > .head, .post > .tail > article {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.post > div {
    padding: 1em;
    margin: 0 1em;
    font-size: 1.2rem;
    background: var(--white);
    border: 1px solid #ccc;
}
.post > .head { margin-top: 1em; }
.post > .tail {
    margin-top: -1px;
    border-top: none;
    padding: 0;
}

.meta {
    display: flex;
    margin: 0 -0.5em;
}
.meta > * {
    margin: 0 0.5em;
}
.meta .picture {
    max-height: 3.5rem;
}
.meta .author {
    display: block;
    font-weight: bold;
    white-space: pre;
}
.meta .time {
    color: #666;
}

.post .content {
    clear: left;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p,
.content blockquote,
.content ol,
.content ul {
    margin: 0.8em 0;
}
.content > *:last-child { margin-bottom: 0; }

/**** Comment */

.comment {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    margin: 0;
    border-left: 0.5em solid #ccc;
    border-top: 1px solid #ccc;
    background-color: #f8f8f8;
}

.comment > * { padding: 1em; }
.comment .meta {
    flex-direction: row-reverse;
    text-align: right;
    //border-left: 1px dotted #ccc;
}
.comment .content { margin-right: 1em; }
.comment .content > *:first-child { margin-top: 0; }
